  <h1>All Users in Ajax</h1>

  <button id='load_users'>Load Users</button>
  <button id='create_users'>Create User</button>

  <div id='edit_content' class='no-display'>
    <form id='edit_user_content' class='form container'>
      <input id='edit_first_name' name='user[first_name]' required placeholder="First Name"/>
      <br/>
      <input id='edit_last_name' name='user[last_name]' required placeholder="Last Name"/>
      <br/>
      <input id='edit_phone_number' name='user[phone_number]' placeholder="Phone Number"/>
      <br/>
      <input type='hidden' id='user_id' />
      <br/>
      <input type='submit'/>
    </form>
  </div>

  <div id='new_user_content' class="no-display">
    <form id="new_user" action="/users" method="POST">
      <input id='user_first' type="text" name="user[first_name]" required placeholder='First Name'/>
      <br/>
      <input id='user_last' type="text" name="user[last_name]" required placeholder='Last Name'/>
      <br/>
      <input id='user_phonenumber' type='text', name='user[phone_number]' placeholder='Phone Number'/>
      <br/>
      <input type="submit"/>
    </form>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content black-text">
          <span class="card-title">User Info</span>

            <ul id='users'></ul>

        </div>
      </div>
    </div>
  </div>
